:root {
    font-size: 16px;

    --primary: #23252b;
    --red: #ff0051;
    --yellow: #ffc800;
    --blue: #00aeff;

    --primary-faded: #23252bc9;
    --secondary-faded: rgba(255, 187, 0, 0.6);

    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --lg-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    --paragraph-font: 'Cormorant Garamond', serif;
    --heading-font: 'Playfair Display', serif;
    /* 
        Fonts
        font-family: 'Cormorant Garamond', serif;
        font-family: 'DM Serif Display', serif;
        font-family: 'Playball', cursive;
        font-family: 'Playfair Display', serif;
 
    */
}

body {
    width: 100%;
    margin: 0;
    background-color: var(--primary);
    font-family: var(--paragraph-font);
    font-weight: 500;
    overflow-x: hidden;
    position: relative;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}

body::-webkit-scrollbar-track {
    background: var(--primary);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--yellow);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 90vh;
}

.section-titles {
    font-family: var(--heading-font);
    font-size: 45px;
    margin-left: 80px;
}

@media screen and (max-width: 600px) {
    .section-titles {
        font-size: 30px;
        margin: 0 15px;
    }
}

/* --------------------------------
# NavBar
-------------------------------- */
.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 10px;
    top: 30%;
    z-index: 190;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.646);
    text-decoration: none;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 5px;
    padding: 20px;
    transition: 1s;
}

.nav-images {
    width: 15px;
    height: 15px;
}

.nav-link-spans {
    display: none;
}

.nav-links:hover {
    background-color: var(--red);
}

.nav-links:hover>span {
    display: contents;
}

@media screen and (max-width: 600px) {
    .side-nav {
        display: none;
    }
}

/* --------------------------------
# Header
-------------------------------- */
.header-container {
    width: 100%;
    min-height: 100vh;
}

.header-subcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    width: 100%;
}

.header-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-body>h1 {
    font-family: var(--heading-font);
    font-size: 55px;
    color: white;
    margin: 5px;
    padding: 0 15px;
    border-left: solid 2px var(--red);
}

.profile-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.profile-img {
    width: 100%;
    rotate: 5deg;
    z-index: -1;
}

#last-name {
    margin-right: -100px;
}

@media screen and (max-width: 600px) {
    .header-subcontainer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
    }

    .profile-img {
        position: initial;
        width: 70%;
        rotate: 5deg;
    }

    .header-body {
        align-items: center;
        justify-content: flex-start;
    }

    .header-body>h1 {
        font-size: 30px;
    }
}

/* --------------------------------
# About
-------------------------------- */
.about-container {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: var(--yellow);
    overflow: hidden;
}

.about-image-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;

}

.about-image-container>img {
    width: 80%;
    box-shadow: var(--lg-shadow);
}

.about-line-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-body {
    padding: 15px;
    width: 65%;
    background-color: var(--red);
    box-shadow: var(--lg-shadow);
}

.about-body>h2 {
    font-family: var(--heading-font);
    font-size: 30px;
}

.about-body>p {
    font-size: 26px;
    line-height: 1.5;
    margin: 0;
}

.line-break {
    border-left: 2px solid var(--blue);
    width: 2px;
    height: 400px;
    margin: 0 10px;
}

.line-break-lg {
    border-left: 2px solid var(--blue);
    width: 2px;
    height: 615px;
    margin: 0 10px;
}

@media screen and (max-width: 1000px) {
    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vmin;
    }

    .about-line-container {
        width: 100%;
        flex-direction: column;
    }

    .about-image-container {
        justify-content: center;
    }

    .about-image-container>img {
        width: 85%;
        margin: 15px 0;
    }

    .about-body {
        width: 65%;
    }

    .about-body>h2 {
        font-family: var(--heading-font);
        font-size: 25px;
    }

    .about-body>p {
        font-size: 18px;
        line-height: 1.5;
        margin: 0;
    }

    .line-break {
        width: 0;
        height: 0;
    }

    .line-break-lg {
        width: 0;
        height: 0;
    }

}


/* --------------------------------
# Projects
-------------------------------- */
.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: var(--red);
    padding: 0 100px;
}

.project-card {
    width: 50%;
    padding: 20px 0
}

.project-card>img {
    width: 80%;
    height: 20rem;
    box-shadow: var(--lg-shadow);
    transition: all ease .5s;
    cursor: pointer;
}

.project-card>img:hover {
    transform: scale(1.01);
    transition: all ease .5s;

}

.project-card>h3 {
    font-family: var(--heading-font);
    margin: 5px 0;
}

.project-card>p {
    font-family: var(--heading-font);
    margin: 5px 0;
}

@media screen and (max-width: 1000px) {
    .projects-container {
        padding: 25px 0;
    }

    .project-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 25px 0;
    }

    .project-card>img {
        width: 80%;
        height: 50%;
    }
}

/* --------------------------------
# Footer
-------------------------------- */
footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 50vh;
    background-color: var(--blue);
}

footer>p {
    margin-top: auto;
}

.footer-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin: 25px 0 0 0;
}

.contacts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    width: 100%;
}

.contacts-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    width: 80%;
    padding: 0;
}

.contacts-list>li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-links {
    text-decoration: center;
    padding: 10px;
}



/* --------------------------------
# Modal
-------------------------------- */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    z-index: 200;

    &.open {
        visibility: visible;
        opacity: 1;
        transition-delay: 0s;
    }
}

.modal-bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.modal-body {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: inherit;
    color: white;
}

.modal-line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.close {
    position: absolute;
    color: var(--red);
    background: transparent;
    font-weight: 600;
    right: 20px;
    top: 20px;
    padding: 7px 12px;
    border: 2px solid var(--red);
    border-radius: 50%;
    cursor: pointer;
}

.modal-img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.modal-img-container>img {
    width: 90%;
    box-shadow: var(--lg-shadow);
}

.modal-img-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
}

.modal-img-body>h3 {
    font-family: var(--heading-font);
    font-weight: 100;
    font-size: 20px;
}

.modal-tech-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.modal-tech-list>p {
    padding: 0 20px 0 5px;
    border-left: 2px solid var(--red);
}

.modal-description-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}

.modal-description-container>h1 {
    font-family: var(--heading-font);
    font-size: 40px;
    margin-top: 0;
}

.modal-description-container>p {
    font-size: 18px;
    line-height: 1.25;
    width: 90%;
    padding: 2px 0;
}

.modal-link-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 10px;
}

.modal-link-container>a {
    font-size: 20px;
    text-decoration: none;
    color: var(--blue);
    padding: 0 20px;
}

#planit-warning {
    color: var(--yellow);
}

#vasquez-farms-bg {
    background: linear-gradient(65deg, var(--primary-faded), var(--primary-faded)),
        url("https://imgur.com/aKLqJ5Q.png");
}

#zachs-burgers-bg {
    background: linear-gradient(65deg, var(--primary-faded), var(--primary-faded)),
        url("https://imgur.com/r00juxL.png");
}

#planit-bg {
    background: linear-gradient(65deg, var(--primary-faded), var(--primary-faded)),
        url("https://imgur.com/b9eWaPv.png");
}

#jrc-bg {
    background: linear-gradient(65deg, var(--primary-faded), var(--primary-faded)),
        url("https://imgur.com/ySxhDLf.png");
}

@media screen and (max-width: 1000px) {
    .modal-body {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 45% 55%;
    }

    .modal-img-container {
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .modal-img-container>img {
        width: 60%;
    }

    .modal-img-body {
        align-items: center;
    }

    .modal-img-body>h3 {
        font-size: 16px;
        margin: 5px 0;
    }

    .modal-tech-list {
        justify-content: space-evenly;
    }

    .modal-tech-list>p {
        font-size: 14px;
        padding: 0 5px 0 2.5px;
        border-left: 2px solid var(--red);
    }

    .modal-line-container {
        display: none;
    }


    .modal-description-container {
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        padding-top: 25px;
    }

    .modal-description-container>h1 {
        font-size: 25px;
        margin: 0;
        margin-bottom: 15px;
    }

    .modal-description-container>p {
        font-size: 14px;
        line-height: 1.15;
        margin: 0;
    }

    .modal-link-container>a {
        font-size: 18px;
    }
}

/* --------------------------------
# Curves & Waves
-------------------------------- */
.curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.waves {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 900/200;
    width: 100%;
    z-index: 1;
}

.layer1 {
    background-image: url('./svgs/layer1.svg');
}

.layer2 {
    background-image: url('./svgs/layer2.svg');
}

.layer3 {
    background-image: url('./svgs/layer3.svg');
}

#red svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 420px;
    fill: var(--red);
}

#yellow svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 300px;
    fill: var(--yellow);
}

#blue svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 180px;
    fill: var(--blue);
}

/* --------------------------------
# Animations
-------------------------------- */
.blur-hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.slide-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.slide-opposite-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s .3s;
}

.slide-up-hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.show-slide-up {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}


@media(prefers-reduced-motion) {

    .slide-hidden {
        transition: none;
    }

    .slide-opposite-hidden {
        transition: none;
    }

    .slide-up-hidden {
        transition: none;
    }
}