:root {
    --primary: #23252b;
    --red: #ff0051;
    --yellow: #ffc800;
    --blue: #00aeff;
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --lg-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    --paragraph-font: 'Nunito', sans-serif;
    --heading-font: 'Cormorant Garamond', serif;
    /* 
        Fonts
        font-family: 'Cormorant Garamond', serif;
        font-family: 'DM Serif Display', serif;
        font-family: 'Nunito', sans-serif;
        font-family: 'Playball', cursive; 
    */
}


body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--primary);
}

section {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

footer {
    height: 50vh;
    background-color: var(--blue);
}

/* --------------------------------
# Header
-------------------------------- */
.header-container {
    width: 100%;
    min-height: 100vh;
}

.header-subcontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.profile-img {
    width: 470px;
    height: 400px;
    padding: 0 15px;
    border-left: solid 2px var(--yellow);
}

.header-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-body>h1 {
    font-size: 55px;
    color: white;
    margin: 5px;
    padding: 0 15px;
    border-left: solid 2px var(--red);
}

.header-body>p {
    color: var(--red);
}

#last-name {
    margin-right: -100px;
}

/* --------------------------------
# About
-------------------------------- */
.about-title {
    font-size: 40px;
    padding: 100px;
    margin: 0;
}

.about-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--yellow);
}

.about-body-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-body-container>img {
    width: 450px;
    height: 400px;
    padding-right: 10px;
    /* box-shadow: var(--lg-shadow); */
    border-right: 2px solid var(--blue);
}

.about-body {
    padding: 15px;
    margin: 10px;
    width: 400px;
    height: 400px;
    background-color: var(--yellow);
    box-shadow: var(--lg-shadow);
}

.about-body>h2 {
    font-size: 30px;
}

.about-body>p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
}

.about-contacts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.about-contacts-container>h1 {
    font-size: 35px;
    padding-top: 100px;
}

.about-contacts-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 100%;
    padding: 0;
}

.about-contacts-list>li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-links {
    text-decoration: center;
    padding: 10px;
}




/* --------------------------------
# Projects
-------------------------------- */
.projects-container {
    background-color: var(--red);
}

/* --------------------------------
# Curves & Waves
-------------------------------- */
.curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

#red svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 420px;
    fill: var(--red);
}

#yellow svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 300px;
    fill: var(--yellow);
}

#blue svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 180px;
    fill: var(--blue);
}

.waves {
    aspect-ratio: 960/320;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    background-image: url('./layers/layer1.svg');
}

.layer2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    background-image: url('./layers/layer2.svg');
}

/* --------------------------------
# Projects
-------------------------------- */
.projects-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    width: 100%;
}

.project-card {
    position: absolute;
    width: 500px;
    height: 500px;
    border: 2px solid #00aeff;
}

/* --------------------------------
# CUBE MODEL
-------------------------------- */

/* .cube-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        perspective: 50em;
        perspective-origin: 450px 80px;
        background: var(--yellow);
        position: relative;
    }
    
    .cube {
        transform-style: preserve-3d;
    }
    
    .cube-shadow {
        position: absolute;
        background: #fff;
        width: 2em;
        height: 2em;
        transform: rotateX(90deg);
        bottom: 4em;
        left: 1em;
    
    
    }
    
    .front,
    .back,
    .left,
    .right,
    .top,
    .bottom {
        height: 5em;
        width: 5em;
        background: var(--blue);
        position: absolute;
        top: 0;
        bottom: 0;
        box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.186) inset,
            0 0 2em var(--blue) inset;
    }
    
    .front {
        transform: translateZ(2.5em);
    }
    
    .back {
        transform: translateZ(-2.5em);
    }
    
    .top {
        transform: translateY(-2.5em) rotateX(90deg);
    }
    
    .bottom {
        transform: translateY(2.5em) rotateX(90deg);
    }
    
    .right {
        transform: translateX(2.5em) rotateY(90deg);
    }
    
    .left {
        transform: translateX(-2.5em) rotateY(90deg);
    } */