:root {
    --primary: #23252b;
    --red: #ff0051;
    --yellow: #ffc800;
    --blue: #00aeff;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--primary);
}

section {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

/* --------------------------------
# Header
-------------------------------- */
.header-container {
    width: 100%;
    min-height: 100vh;
}

.header-subcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.profile-img {
    width: 470px;
    height: 400px;
}


.header-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 400px;
    margin: 20px;
    padding: 0 20px;
    border-left: solid 2px var(--yellow);

}

.header-body>h1 {
    font-size: 45px;
    color: white;
}

.header-body>p {
    color: var(--red);
}

.red-curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.red-curve svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 420px;
}

.red-curve .shape-fill {
    fill: var(--red);
}

.green-curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.green-curve svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 300px;
}

.green-curve .shape-fill {
    fill: var(--yellow);
}

.blue-curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.blue-curve svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 180px;
}

.blue-curve .shape-fill {
    fill: var(--blue);
}

.waves {
    aspect-ratio: 960/320;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('./layers/layer1.svg');
}

.layer2 {
    background-image: url('./layers/layer2.svg');
}

/* --------------------------------
# About
-------------------------------- */
.about-container {
    background-color: var(--yellow);
}


/* --------------------------------
# Projects
-------------------------------- */
.projects-container {
    background-color: var(--red);
}